body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;    
  justify-content: center;
  gap: 20px;
  text-align: left;
}

.home-link:visited,
.home-link:hover,
.home-link:active {
  color: inherit;
  text-decoration: none;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.project {
  position: relative;
  background: white;
  padding: 20px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

a {
  color: #3498db;
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons img {
  height: 30px;
  width: auto;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: left;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.text h1 {
  margin: 0;
  font-size: 2rem;
}

.text p {
  margin: 5px 0 0;
  color: #666;
}


.github-item {
  display: flex;
  align-items: center;
  gap: 8px;           
  text-decoration: none;
  color: inherit;
  gap: 8px;
}

.github-link {
  text-align: center;
}

.github-item img {
  width: 20px;
  height: 20px;
}

.github-item:hover {
  opacity: 0.8;
}

.project-desc {
  margin: 0 auto;
  line-height: 1.6;
}

.project-desc h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project-desc h3 {
  margin-top: 30px;
  color: #222;
}

.project-desc h4 {
  margin-top: 20px;
}

.project-desc ul {
  padding-left: 20px;
}

.preview {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  display: block;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFD700; /* złoto-żółty */
  color: #000;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  z-index: 10;
}